employees-hr-ws-app/employees-hr-ws-web/src/main/resources/wsdl/EmployeesHRBusinessObjects.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:hrdomain="http://domain.web.ws.hr.employees.osanchezhuerta.org/xsd/"
	targetNamespace="http://domain.web.ws.hr.employees.osanchezhuerta.org/xsd/"
	elementFormDefault="qualified" 
	attributeFormDefault="qualified"
	version="1.0">

	<xs:complexType name="governanceHeaderResponse">
		<xs:sequence>
			<xs:element name="sgbds" type="hrdomain:SGBDS"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SGBDS">
		<xs:sequence>
			<xs:element name="errorCode" type="xs:integer" />
			<xs:element name="errorDescription" type="xs:string" />
			<xs:element name="successful" type="xs:boolean" />
			<xs:element name="responseDate" type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="governanceHeaderRequest">
		<xs:sequence>
			<xs:element name="sgbde" type="hrdomain:sgbde"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="sgbde">
		<xs:sequence>
			<xs:element name="contextoEntidad" type="xs:string"
				minOccurs="0" />
			<xs:element name="fechaPeticion" type="xs:anySimpleType"
				minOccurs="0" />
			<xs:element name="folio" type="xs:string" minOccurs="0" />
			<xs:element name="idCanal" type="xs:integer" />
			<xs:element name="idEntidad" type="xs:string" minOccurs="0" />
			<xs:element name="idOperacion" type="xs:integer" />
			<xs:element name="idOrganizacion" type="xs:integer" />
			<xs:element name="idServicio" type="xs:integer" />
			<xs:element name="idSistema" type="xs:integer" />
			<xs:element name="idZona" type="xs:integer" />
			<xs:element name="nombreTramite" type="xs:string"
				minOccurs="0" />
			<xs:element name="tipoIdEntidad" type="xs:string"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>




	<xs:complexType name="SolicitudBusinessCrearInput">
		<xs:sequence>
			<xs:element name="nss" type="xs:string" nillable="false"
				minOccurs="1" />
			<xs:element name="idAsignacionNSS" type="xs:long"
				nillable="false" minOccurs="1" />
			<xs:element name="idTipoTramite" type="xs:int" nillable="false"
				minOccurs="1" />
			<xs:element name="idTipoSolicitud" type="xs:long"
				nillable="false" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SolicitudBusinessCrearOutput">
		<xs:sequence>
			<xs:element name="idTramite" type="xs:long" nillable="false"
				minOccurs="1" />
			<xs:element name="fechaSolicitud" type="xs:date" nillable="true"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ObtenerTramiteByIdInput">
		<xs:sequence>
			<xs:element name="idTramite" type="xs:long" nillable="false"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ObtenerTramiteByIdOutput">
		<xs:sequence>
			<xs:element name="cveIdTramite" type="xs:long" nillable="false"
				minOccurs="1" />
			<xs:element name="cveIdEstadoTramite" type="xs:long"
				nillable="false" minOccurs="1" />
			<xs:element name="refObservacion" type="xs:string"
				nillable="true" minOccurs="1" />
			<xs:element name="fechaTramite" type="xs:date" nillable="true"
				minOccurs="1" />
			<xs:element name="cveIdTipoTramite" type="xs:long"
				nillable="false" minOccurs="1" />
			<xs:element name="cveIdSolicitud" type="xs:long" nillable="false"
				minOccurs="1" />
			<xs:element name="fechaAlta" type="xs:date" nillable="true"
				minOccurs="1" />
			<xs:element name="fechaBaja" type="xs:date" nillable="true"
				minOccurs="1" />
			<xs:element name="fechaActualizacion" type="xs:date"
				nillable="true" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="DitPersonafContactoVO">
		<xs:sequence>
			<xs:element name="cveIdPersonafContacto" type="xs:long"
				nillable="false" minOccurs="1" />
			<xs:element name="cveIdPersona" type="xs:long" nillable="false"
				minOccurs="1" />
			<xs:element name="ditFormaContacto" type="hrdomain:DitFormaContacto"
				nillable="false" minOccurs="1" maxOccurs="1" />

			<xs:element name="fecRegistroAlta" type="xs:date"
				nillable="true" minOccurs="0" />
			<xs:element name="fecRegistroBaja" type="xs:date"
				nillable="true" minOccurs="0" />
			<xs:element name="fecRegistroActualizado" type="xs:date"
				nillable="true" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DitPersonaMoralContactoVO">
		<xs:sequence>
			<xs:element name="cveIdPersonaMContacto" type="xs:long"
				nillable="false" minOccurs="1" />
			<xs:element name="cveIdPersonaMoral" type="xs:long"
				nillable="false" minOccurs="1" />
			<xs:element name="ditFormaContacto" type="hrdomain:DitFormaContacto"
				nillable="false" minOccurs="1" maxOccurs="1" />

			<xs:element name="fecRegistroAlta" type="xs:date"
				nillable="true" minOccurs="0" />
			<xs:element name="fecRegistroBaja" type="xs:date"
				nillable="true" minOccurs="0" />
			<xs:element name="fecRegistroActualizado" type="xs:date"
				nillable="true" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="DitPersonaMoralRSInputVO">
		<xs:sequence>
			<xs:element name="cveIdPersonaMoral" type="xs:long"
				nillable="false" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DitPersonaMoralPorRFCInputVO">
		<xs:sequence>
			<xs:element name="rfc" type="xs:string" nillable="false"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="DitPersonaMoralPorRazonSocialInputVO">
		<xs:sequence>
			<xs:element name="razonSocial" type="xs:string" nillable="false" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InsertarDitPersonaMoralRSVO">
		<xs:sequence>
			<xs:element name="rfc" type="xs:string" nillable="false"
				minOccurs="1" />
			<xs:element name="razonSocial" type="xs:string" nillable="false"
				minOccurs="1" />
			<xs:element name="cveIdTipoSociedad" type="xs:long"
				nillable="true" minOccurs="1" />
			<xs:element name="nombreComercial" type="xs:string"
				nillable="false" minOccurs="1" />
			<xs:element name="desCamaraOrganizacion" type="xs:string"
				nillable="true" minOccurs="1" />
			<xs:element name="indiceAcreditado" type="xs:long"
				nillable="true" minOccurs="1" />
			<xs:element name="indiceCursoMercantil" type="xs:long"
				nillable="true" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="ModificarDitPersonaMoralRSVO">
		<xs:sequence>
			<xs:element name="cveIdPersonaMoral" type="xs:long"
				nillable="false" minOccurs="1" />
			<xs:element name="rfc" type="xs:string" nillable="false"
				minOccurs="1" />
			<xs:element name="razonSocial" type="xs:string" nillable="false"
				minOccurs="1" />
			<xs:element name="cveIdTipoSociedad" type="xs:long"
				nillable="true" minOccurs="1" />
			<xs:element name="nombreComercial" type="xs:string"
				nillable="false" minOccurs="1" />
			<xs:element name="desCamaraOrganizacion" type="xs:string"
				nillable="true" minOccurs="1" />
			<xs:element name="indiceAcreditado" type="xs:long"
				nillable="true" minOccurs="1" />
			<xs:element name="indiceCursoMercantil" type="xs:long"
				nillable="true" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DitPersonaMoralRSVO">
		<xs:sequence>
			<xs:element name="cveIdPersonaMoral" type="xs:long"
				nillable="false" minOccurs="1" />
			<xs:element name="rfc" type="xs:string" nillable="false"
				minOccurs="1" />
			<xs:element name="razonSocial" type="xs:string" nillable="false"
				minOccurs="1" />
			<xs:element name="cveIdTipoSociedad" type="xs:long"
				nillable="true" minOccurs="1" />
			<xs:element name="nombreComercial" type="xs:string"
				nillable="false" minOccurs="1" />
			<xs:element name="desCamaraOrganizacion" type="xs:string"
				nillable="true" minOccurs="1" />
			<xs:element name="indiceAcreditado" type="xs:long"
				nillable="true" minOccurs="1" />
			<xs:element name="indiceCursoMercantil" type="xs:long"
				nillable="true" minOccurs="1" />
			<xs:element name="fechaAlta" type="xs:date" nillable="true"
				minOccurs="1" />
			<xs:element name="fechaBaja" type="xs:date" nillable="true"
				minOccurs="1" />
			<xs:element name="fechaActualizacion" type="xs:date"
				nillable="true" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="InsertarPersonaMoralOutputResponseVO">
		<xs:sequence>
			<xs:element name="cveIdPersonaMoral" type="xs:long"
				nillable="false" minOccurs="1" />
			<xs:element name="rfc" type="xs:string" nillable="false"
				minOccurs="1" />
			<xs:element name="razonSocial" type="xs:string" nillable="false"
				minOccurs="1" />
			<xs:element name="cveIdTipoSociedad" type="xs:long"
				nillable="true" minOccurs="1" />
			<xs:element name="nombreComercial" type="xs:string"
				nillable="false" minOccurs="1" />
			<xs:element name="desCamaraOrganizacion" type="xs:string"
				nillable="true" minOccurs="1" />
			<xs:element name="indiceAcreditado" type="xs:long"
				nillable="true" minOccurs="1" />
			<xs:element name="indiceCursoMercantil" type="xs:long"
				nillable="true" minOccurs="1" />
			<xs:element name="fechaAlta" type="xs:date" nillable="true"
				minOccurs="1" />
			<xs:element name="fechaBaja" type="xs:date" nillable="true"
				minOccurs="1" />
			<xs:element name="fechaActualizacion" type="xs:date"
				nillable="true" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="edicionPersonaMoralOutputVO">
		<xs:sequence>
			<xs:element name="registro" type="xs:int" nillable="false"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ActualizarDitPersonafContactoVO">
		<xs:sequence>
			<xs:element name="cveIdPersonafContacto" type="xs:long"
				nillable="false" minOccurs="1" />
			<xs:element name="cveIdPersona" type="xs:long" nillable="false"
				minOccurs="1" />
			<xs:element name="ditFormaContacto" type="hrdomain:ActualizarDitFormaContacto"
				nillable="false" minOccurs="1" maxOccurs="1" />

		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ActualizarDitFormaContacto">
		<xs:sequence>

			<xs:element name="cveIdFormaContacto" type="xs:long"
				nillable="false" minOccurs="1" />
			<xs:element name="cveIdTipoContacto" type="xs:long"
				nillable="false" minOccurs="1" />
			<xs:element name="desFormaContacto" type="xs:string"
				nillable="false" minOccurs="1" />

		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="InsertarDitPersonafContactoVO">
		<xs:sequence>

			<xs:element name="cveIdPersona" type="xs:long" nillable="false"
				minOccurs="1" />
			<xs:element name="ditFormaContacto" type="hrdomain:InsertarDitFormaContacto"
				nillable="false" minOccurs="1" maxOccurs="1" />

		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="InsertarDitPersonaMoralContactoVO">
		<xs:sequence>

			<xs:element name="cveIdPersonaMoral" type="xs:long"
				nillable="false" minOccurs="1" />
			<xs:element name="ditFormaContacto" type="hrdomain:InsertarDitFormaContacto"
				nillable="false" minOccurs="1" maxOccurs="1" />

		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InsertarDitFormaContacto">
		<xs:sequence>

			<xs:element name="cveIdTipoContacto" type="xs:long"
				nillable="false" minOccurs="1" />
			<xs:element name="desFormaContacto" type="xs:string"
				nillable="false" minOccurs="1" />

		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DitFormaContacto">
		<xs:sequence>
			<xs:element name="cveIdFormaContacto" type="xs:long"
				nillable="false" minOccurs="1" />
			<xs:element name="cveIdTipoContacto" type="xs:long"
				nillable="false" minOccurs="1" />
			<xs:element name="desFormaContacto" type="xs:string"
				nillable="true" minOccurs="0" />
			<xs:element name="fecRegistroAlta" type="xs:date"
				nillable="true" minOccurs="0" />
			<xs:element name="fecRegistroBaja" type="xs:date"
				nillable="true" minOccurs="0" />
			<xs:element name="fecRegistroActualizado" type="xs:date"
				nillable="true" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonaMoralInput">
		<xs:sequence>
			<xs:element name="cveIdPersona" type="xs:long" nillable="false"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonaMoralOutput">
		<xs:sequence>
			<xs:element name="rfc" type="xs:string" nillable="false"
				minOccurs="1" />
			<xs:element name="razonSocial" type="xs:string" nillable="false"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ConsultarPersonaIdTipoTramite">
		<xs:sequence>
			<xs:element name="idTipoTramite" type="xs:decimal"
				nillable="false" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ConsultarPersonaNombreVO">
		<xs:sequence>
			<xs:element name="cveIdPersona" type="xs:long" nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ConsultarPersonaPersonaRangoVO">
		<xs:sequence>
			<xs:element name="cveIdTramite" type="xs:long" nillable="false"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="identificador" type="xs:long" nillable="false"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="cveIdTipoTramite" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ConsultarPersonaPorRangoInput">
		<xs:sequence>
			<xs:element name="lstIdTipoTramite"
				type="hrdomain:ConsultarPersonaIdTipoTramite" nillable="false"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="idEstadoTramite" type="xs:int" nillable="false"
				minOccurs="1" />
			<xs:element name="pageNumber" type="xs:int" nillable="false"
				minOccurs="1" />
			<xs:element name="pageSize" type="xs:int" nillable="false"
				minOccurs="1" />

		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ConsultarPersonaPorNombreInput">
		<xs:sequence>

			<xs:element name="nombre" type="xs:string" nillable="true" minOccurs="0" />
			<xs:element name="apellidoPaterno" type="xs:string" nillable="true" minOccurs="0" />
			<xs:element name="apellidoMaterno" type="xs:string" nillable="true" minOccurs="0" />
				
			<xs:element name="curp" type="xs:string" nillable="true" minOccurs="1" />
			<xs:element name="numRegistroCPA" type="xs:int" nillable="true" minOccurs="0" />

			<xs:element name="lstCveIdEstadoCPA" type="hrdomain:ConsultarLstCveIdEstadoCPA" nillable="true" minOccurs="0" maxOccurs="unbounded" />

			<xs:element name="cveIdSubdelegacion" type="xs:long" nillable="true" minOccurs="0" />

			<xs:element name="pageNumber" type="xs:int" nillable="false" minOccurs="1" />
			<xs:element name="pageSize" type="xs:int" nillable="false" minOccurs="1" />
				
		</xs:sequence>
	</xs:complexType>
	

	<xs:complexType name="ConsultarPersonaPorNombreContadorInput">
		<xs:sequence>

			<xs:element name="nombre" type="xs:string" nillable="true" minOccurs="0" />
			<xs:element name="apellidoPaterno" type="xs:string" nillable="true" minOccurs="0" />
			<xs:element name="apellidoMaterno" type="xs:string" nillable="true" minOccurs="0" />
			<xs:element name="curp" type="xs:string" nillable="true" minOccurs="1" />
			<xs:element name="numRegistroCPA" type="xs:int" nillable="true" minOccurs="0" />
			<xs:element name="lstCveIdEstadoCPA" type="hrdomain:ConsultarLstCveIdEstadoCPA" nillable="true" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="cveIdSubdelegacion" type="xs:long" nillable="true" minOccurs="0" />
				
		</xs:sequence>
	</xs:complexType>
	
	
		<xs:complexType name="ConsultarLstCveIdEstadoCPA">
		<xs:sequence>
			<xs:element name="cveIdEstadoCPA" type="xs:long" nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:complexType name="ConsultarPersonaPorNombreOutput">
		<xs:sequence>
			<xs:element name="lstCveIdTramite" type="hrdomain:ConsultarPersonaNombreVO" nillable="false" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:complexType name="ConsultarPersonaPorNombreContadorOutput">
		<xs:sequence>
			<xs:element name="cantidadContador" type="xs:long" nillable="false" minOccurs="1" />
				
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ConsultarPersonaPorRangoOutput">
		<xs:sequence>
			<xs:element name="lstCveIdTramite"
				type="hrdomain:ConsultarPersonaPersonaRangoVO" nillable="false"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ConsultarPersonaTotalPorEstadoInput">
		<xs:sequence>
			<xs:element name="lstIdTipoTramite"
				type="hrdomain:ConsultarPersonaIdTipoTramite" nillable="false"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="idEstadoTramite" type="xs:int" nillable="false"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ConsultarPersonaTotalPorEstadoOutput">
		<xs:sequence>
			<xs:element name="totalRegistroTramite" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TipoSolicitudInputVO">
		<xs:sequence>
			<xs:element name="cveIdTipoSolicitud" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TipoSolicitudOutputVO">
		<xs:sequence>
			<xs:element name="cveIdTipoSolicitud" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="desTipoSolicitud" type="xs:string"
				nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="fechaAlta" type="xs:dateTime" nillable="true"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="fechaBaja" type="xs:dateTime" nillable="true"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="fechaActualizacion" type="xs:dateTime"
				nillable="true" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ObtenerSubdelegacionPorIdInput">
		<xs:sequence>
			<xs:element name="idSubdelegacion" type="xs:long"
				nillable="false" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ObtenerSubdelegacionPorIdDelegacionInput">
		<xs:sequence>
			<xs:element name="idDelegacion" type="xs:long" nillable="false" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ObtenerSubdelegacionPorIdOutput">
		<xs:sequence>
			<xs:element name="subdelegacion" type="hrdomain:SubdelegacionVO"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ObtenerSubdelegacionPorIdDelegacionOutput">
		<xs:sequence>
		  <xs:element name="subdelegaciones" type="hrdomain:SubdelegacionVO"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ObtenerSubdelegacionesOutput">
		<xs:sequence>
			<xs:element name="subdelegaciones" type="hrdomain:SubdelegacionVO"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubdelegacionVO">
		<xs:sequence>
			<xs:element name="cveIdSubdelegacion" type="xs:long"
				nillable="false" minOccurs="1" />
			<xs:element name="cveIdDelegacion" type="xs:long"
				nillable="false" minOccurs="1" />
			<xs:element name="desSubdelegacion" type="xs:string"
				minOccurs="0" />
			<xs:element name="anioIniOper" type="xs:string" minOccurs="0" />
			<xs:element name="claveSubdelegacion" type="xs:string"
				minOccurs="0" />
			<xs:element name="fecRegistroAlta" type="xs:date"
				minOccurs="0" />
			<xs:element name="fecRegistroActualizado" type="xs:date"
				minOccurs="0" />
			<xs:element name="fecRegistroBaja" type="xs:date"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ObtenerDelegacionPorIdInput">
		<xs:sequence>
			<xs:element name="idDelegacion" type="xs:long" nillable="false"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObtenerDelegacionPorIdOutput">
		<xs:sequence>
			<xs:element name="delegacion" type="hrdomain:DelegacionVO"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObtenerDelegacionesOutput">
		<xs:sequence>
			<xs:element name="delegaciones" type="hrdomain:DelegacionVO"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DelegacionVO">
		<xs:sequence>
			<xs:element name="cveIdDelegacion" type="xs:long"
				nillable="false" minOccurs="1" />
			<xs:element name="desDeleg" type="xs:string" minOccurs="0" />
			<xs:element name="anioIniOper" type="xs:string" minOccurs="0" />
			<xs:element name="claveDelegacion" type="xs:string"
				minOccurs="0" />
			<xs:element name="tipDelegacion" type="xs:long" minOccurs="0" />
			<xs:element name="fecRegistroAlta" type="xs:date"
				minOccurs="0" />
			<xs:element name="fecRegistroActualizado" type="xs:date"
				minOccurs="0" />
			<xs:element name="fecRegistroBaja" type="xs:date"
				minOccurs="0" />
			<xs:element name="cveCiz" type="xs:long" minOccurs="0" />
			<xs:element name="dicSubdelegacionList" type="hrdomain:SubdelegacionVO"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ObtenerDomicilioSatPorIdInput">
		<xs:sequence>
			<xs:element name="idDomicilioSat" type="xs:long" nillable="false"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObtenerDomicilioSatPorIdOutput">
		<xs:sequence>
			<xs:element name="domicilioSat" type="hrdomain:DomicilioSatVOResponse"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsertarDomicilioSatInput">
		<xs:sequence>
			<xs:element name="domicilioSat" type="hrdomain:InsertarDomicilioSatVO"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActualizarDomicilioSatInput">
		<xs:sequence>
			<xs:element name="domicilioSat" type="hrdomain:DomicilioSatVO"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsertarDomicilioSatVO">
		<xs:sequence>
			<xs:element name="calle" type="xs:string" minOccurs="0" />
			<xs:element name="codigo" type="xs:string" minOccurs="0" />
			<xs:element name="colonia" type="xs:string" minOccurs="0" />
			<xs:element name="entidadFederativa" type="xs:string"
				minOccurs="0" />
			<xs:element name="entreCalle1" type="xs:string" minOccurs="0" />
			<xs:element name="entreCalle2" type="xs:string" minOccurs="0" />
			<xs:element name="inmueble" type="xs:string" minOccurs="0" />
			<xs:element name="localidad" type="xs:string" minOccurs="0" />
			<xs:element name="municipio" type="xs:string" minOccurs="0" />
			<xs:element name="numExterior" type="xs:string" minOccurs="0" />
			<xs:element name="numInterior" type="xs:string" minOccurs="0" />
			<xs:element name="referencia" type="xs:string" minOccurs="0" />
			<xs:element name="vialidad" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="InsertarDomicilioSatResponseVO">
		<xs:sequence>
			<xs:element name="cveIdDomicilio" type="xs:long" nillable="false"
				minOccurs="1" />
			<xs:element name="calle" type="xs:string" minOccurs="0" />
			<xs:element name="codigo" type="xs:string" minOccurs="0" />
			<xs:element name="colonia" type="xs:string" minOccurs="0" />
			<xs:element name="entidadFederativa" type="xs:string"
				minOccurs="0" />
			<xs:element name="entreCalle1" type="xs:string" minOccurs="0" />
			<xs:element name="entreCalle2" type="xs:string" minOccurs="0" />
			<xs:element name="inmueble" type="xs:string" minOccurs="0" />
			<xs:element name="localidad" type="xs:string" minOccurs="0" />
			<xs:element name="municipio" type="xs:string" minOccurs="0" />
			<xs:element name="numExterior" type="xs:string" minOccurs="0" />
			<xs:element name="numInterior" type="xs:string" minOccurs="0" />
			<xs:element name="referencia" type="xs:string" minOccurs="0" />
			<xs:element name="vialidad" type="xs:string" minOccurs="0" />
			<xs:element name="fecRegistroAlta" type="xs:date"
				minOccurs="0" />
			<xs:element name="fecRegistroActualizado" type="xs:date"
				minOccurs="0" />
			<xs:element name="fecRegistroBaja" type="xs:date"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DomicilioSatVO">
		<xs:sequence>
			<xs:element name="cveIdDomicilio" type="xs:long" nillable="false"
				minOccurs="1" />
			<xs:element name="calle" type="xs:string" minOccurs="0" />
			<xs:element name="codigo" type="xs:string" minOccurs="0" />
			<xs:element name="colonia" type="xs:string" minOccurs="0" />
			<xs:element name="entidadFederativa" type="xs:string"
				minOccurs="0" />
			<xs:element name="entreCalle1" type="xs:string" minOccurs="0" />
			<xs:element name="entreCalle2" type="xs:string" minOccurs="0" />
			<xs:element name="inmueble" type="xs:string" minOccurs="0" />
			<xs:element name="localidad" type="xs:string" minOccurs="0" />
			<xs:element name="municipio" type="xs:string" minOccurs="0" />
			<xs:element name="numExterior" type="xs:string" minOccurs="0" />
			<xs:element name="numInterior" type="xs:string" minOccurs="0" />
			<xs:element name="referencia" type="xs:string" minOccurs="0" />
			<xs:element name="vialidad" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DomicilioSatVOResponse">
		<xs:complexContent>
			<xs:extension base="hrdomain:DomicilioSatVO">
				<xs:sequence>
					<xs:element name="fecRegistroActualizado" type="xs:date"
						minOccurs="0" />
					<xs:element name="fecRegistroAlta" type="xs:date"
						minOccurs="0" />
					<xs:element name="fecRegistroBaja" type="xs:date"
						minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PersonafDomFiscalVOInput">
		<xs:sequence>
			<xs:element name="cveIdDomicilio" type="xs:long" nillable="true"
				minOccurs="1" />
			<xs:element name="cveIdPersonaFisica" type="xs:long"
				nillable="true" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="PersonafDomFiscalVO">
		<xs:sequence>
			<xs:element name="cveIdPfdomFiscal" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="fecRegistroActualizado" type="xs:date"
				nillable="true" minOccurs="1" />
			<xs:element name="fecRegistroAlta" type="xs:date"
				nillable="true" minOccurs="1" />
			<xs:element name="fecRegistroBaja" type="xs:date"
				nillable="true" minOccurs="1" />
			<xs:element name="cveIdDomicilio" type="xs:long" nillable="true"
				minOccurs="1" />
			<xs:element name="cveIdPersonaFisica" type="xs:long"
				nillable="true" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonafDomFiscalByIdInput">
		<xs:sequence>
			<xs:element name="cveIdPfdomFiscal" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonafDomFiscalByIdPersonaFisicaInput">
		<xs:sequence>
			<xs:element name="cveIdPersonaFisica" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonafDomFiscalInput">
		<xs:sequence>
			<xs:element name="personafDomFiscalVO" type="hrdomain:PersonafDomFiscalVOInput"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonafDomFiscalOutput">
		<xs:sequence>
			<xs:element name="personafDomFiscalVO" type="hrdomain:PersonafDomFiscalVO"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InsertarPersonamDomFiscalVO">
		<xs:sequence>
			<xs:element name="cveIdDomicilio" type="xs:long" nillable="false"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="cveIdPersonaMoral" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonamDomFiscalVO">
		<xs:sequence>
			<xs:element name="cveIdPmdomFiscal" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="cveIdDomicilio" type="xs:long" nillable="false"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="fecRegistroActualizado" type="xs:date"
				nillable="true" minOccurs="1" maxOccurs="1" />
			<xs:element name="fecRegistroAlta" type="xs:date"
				nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="fecRegistroBaja" type="xs:date"
				nillable="true" minOccurs="1" maxOccurs="1" />
			<xs:element name="cveIdPersonaMoral" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BajaPersonaMDomicilioFiscalInput">
		<xs:sequence>
			<xs:element name="cveIdPmDomFiscal" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BajaPersonamDomFiscalByIdOutput">
		<xs:sequence>
			<xs:element name="cveIdPmDomFiscal" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="cveIdDomicilio" type="xs:long" nillable="false"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="fechaBaja" type="xs:date" nillable="false"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BajaPersonaMoralByIdInput">
		<xs:sequence>
			<xs:element name="cveIdPersonalMoral" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BajaPersonaMoralByIdOutput">
		<xs:sequence>
			<xs:element name="cveIdPersonalMoral" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="fechaBaja" type="xs:date" nillable="false"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BajaPersonaFisicaByIdInput">
		<xs:sequence>
			<xs:element name="cveIdPersonalFisica" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BajaPersonaFisicaByIdOutput">
		<xs:sequence>
			<xs:element name="cveIdPersonalFisica" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="fechaBaja" type="xs:date" nillable="false"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BajaPersonaFDomicilioFiscalInput">
		<xs:sequence>
			<xs:element name="cveIdPfDomFiscal" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BajaPersonaFDomFiscalByIdOutput">
		<xs:sequence>
			<xs:element name="cveIdPfDomFiscal" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="cveIdDomicilio" type="xs:long" nillable="false"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="fechaBaja" type="xs:date" nillable="false"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InsertarPersonamDomFiscalInput">
		<xs:sequence>
			<xs:element name="personamDomFiscalInputVO" type="hrdomain:InsertarPersonamDomFiscalVO"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonamDomFiscalInput">
		<xs:sequence>
			<xs:element name="personamDomFiscalInputVO" type="hrdomain:PersonamDomFiscalVO"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonamDomFiscalInputCveIdPmDomFiscal">
		<xs:sequence>
			<xs:element name="cveIdPmdomFiscal" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonamDomFiscalInputCveIdPersonaMoral">
		<xs:sequence>
			<xs:element name="cveIdPersonaMoral" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>




	<xs:complexType name="PersonamDomFiscalOutput">
		<xs:sequence>
			<xs:element name="personamDomFiscalInputVO" type="hrdomain:PersonamDomFiscalVO"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonaFisicaVO">
		<xs:sequence>
			<xs:element name="cveIdPersonaFisica" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="cveIdPersona" type="xs:long" nillable="false"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="desCamaraOrganizacion" type="xs:string"
				nillable="true" minOccurs="1" />
			<xs:element name="fecRegistroActualizado" type="xs:date"
				nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="fecRegistroAlta" type="xs:date"
				nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="fecRegistroBaja" type="xs:date"
				nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="indAcreditado" type="xs:long" nillable="true"
				minOccurs="1" />
			<xs:element name="nombreComercial" type="xs:string"
				nillable="true" minOccurs="1" />
			<xs:element name="rfc" type="xs:string" nillable="false"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonaFisicaVOInput">
		<xs:sequence>
			<xs:element name="cveIdPersona" type="xs:long" nillable="false"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="desCamaraOrganizacion" type="xs:string"
				nillable="true" minOccurs="1" />
			<xs:element name="indAcreditado" type="xs:long" nillable="true"
				minOccurs="1" />
			<xs:element name="nombreComercial" type="xs:string"
				nillable="true" minOccurs="1" />
			<xs:element name="rfc" type="xs:string" nillable="false"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonaFisicaInput">
		<xs:sequence>
			<xs:element name="personaFisicaVO" type="hrdomain:PersonaFisicaVOInput"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonaFisicaByIdInput">
		<xs:sequence>
			<xs:element name="cveIdPersonaFisica" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonaFisicaByIdPersonaInput">
		<xs:sequence>
			<xs:element name="cveIdPersona" type="xs:long" nillable="false"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonaFisicaOutput">
		<xs:sequence>
			<xs:element name="personaFisicaVO" type="hrdomain:PersonaFisicaVO"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>


	<!-- VENTANILLA - DIT_PERSONA -->


	<xs:complexType name="DitPersonaRFCInputVO">
		<xs:sequence>
			<xs:element name="rfc" type="xs:string" nillable="false"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

<xs:complexType name="DitPersonaCURPInputVO">
		<xs:sequence>
			<xs:element name="curp" type="xs:string" nillable="false"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DitPersonaRFCOutputVO">
		<xs:sequence>
			<xs:element name="cveIdPersona" type="xs:long" nillable="true"
				minOccurs="1" />
			<xs:element name="cveIdPais" type="xs:long" nillable="true"
				minOccurs="1" />
			<xs:element name="cveIdSexo" type="xs:long" nillable="true"
				minOccurs="1" />
			<xs:element name="cveIdEstadoCivil" type="xs:long"
				nillable="true" minOccurs="1" />
			<xs:element name="nomNombre" type="xs:string" nillable="true"
				minOccurs="1" />
			<xs:element name="nomPrimerApellido" type="xs:string"
				nillable="true" minOccurs="1" />
			<xs:element name="nomSegundoApellido" type="xs:string"
				nillable="true" minOccurs="1" />
			<xs:element name="curp" type="xs:string" nillable="true"
				minOccurs="1" />
			<xs:element name="rfc" type="xs:string" nillable="true"
				minOccurs="1" />
			<xs:element name="fecNacimiento" type="xs:date" nillable="true"
				minOccurs="1" />
			<xs:element name="observaciones" type="xs:string"
				nillable="true" minOccurs="1" />
			<xs:element name="indPerAutorizada" type="xs:long"
				nillable="true" minOccurs="1" />
			<xs:element name="fecDefuncion" type="xs:date" nillable="true"
				minOccurs="1" />
			<xs:element name="fecRegistroAlta" type="xs:date"
				nillable="true" minOccurs="1" />
			<xs:element name="fecRegistroBaja" type="xs:date"
				nillable="true" minOccurs="1" />
			<xs:element name="fecRegistroActualizado" type="xs:date"
				nillable="true" minOccurs="1" />
			<xs:element name="cveEnt" type="xs:string" nillable="true"
				minOccurs="1" />
			<xs:element name="numAnioNacReg" type="xs:int" nillable="true"
				minOccurs="1" />
			<xs:element name="numMesNacReg" type="xs:int" nillable="true"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="DitPersonaRSInputVO">
		<xs:sequence>
			<xs:element name="cveIdPersona" type="xs:long" nillable="false"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DitPersonaRSVO">
		<xs:sequence>
			<xs:element name="curp" type="xs:string" nillable="false" minOccurs="1" />
			<xs:element name="rfc" type="xs:string" nillable="false" minOccurs="1" />
			
			<xs:element name="nomNombre" type="xs:string" nillable="false" minOccurs="1" />
			<xs:element name="nomPrimerApellido" type="xs:string" nillable="false" minOccurs="1" />
			<xs:element name="nomSegundoApellido" type="xs:string" nillable="false" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>



	<xs:complexType name="PersonaInput">
		<xs:sequence>
			<xs:element name="cveIdPersona" type="xs:long" nillable="false"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonaOutput">
		<xs:sequence>
			<xs:element name="curp" type="xs:string" nillable="false"
				minOccurs="1" />
			<xs:element name="nomNombre" type="xs:string" nillable="false"
				minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TipoTramiteInputVO">
		<xs:sequence>
			<xs:element name="cveIdTipoTramite" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TipoTramiteOutputVO">
		<xs:sequence>
			<xs:element name="cveIdTipoTramite" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="desTipoTramite" type="xs:string"
				nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="refGuiaDetallada" type="xs:base64Binary"
				nillable="true" minOccurs="1" maxOccurs="1" />
			<xs:element name="refGuiaRapida" type="xs:base64Binary"
				nillable="true" minOccurs="1" maxOccurs="1" />
			<xs:element name="refSigla" type="xs:string" nillable="true"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="tipTipoConclusion" type="xs:long"
				nillable="true" minOccurs="1" maxOccurs="1" />
			<xs:element name="tipTipoTramite" type="xs:long" nillable="true"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="fechaAlta" type="xs:dateTime" nillable="true"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="fechaBaja" type="xs:dateTime" nillable="true"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="fechaActualizacion" type="xs:dateTime"
				nillable="true" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="TramiteEstadoInputVO">
		<xs:sequence>
			<xs:element name="cveIdTramite" type="xs:long" nillable="false"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="cveIdEstadoTramite" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TramiteEstadoOutputVO">
		<xs:sequence>
			<xs:element name="actualizacion" type="xs:int" nillable="false"
				minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PersonaMContactoInput">
	<xs:sequence>
		<xs:element name="cveIdPersonaMoral" type="xs:long"
			minOccurs="1" maxOccurs="1" />
	</xs:sequence>
</xs:complexType>

	<xs:complexType name="PersonaMContactoOutput">
		<xs:sequence>
			<xs:element name="personaMContactos" type="hrdomain:PersonamContactoVO"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PersonamContactoVO">
		<xs:sequence>
			<xs:element name="cveIdPersonamContacto" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="cveIdFormaContacto" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="cveIdPersonaMoral" type="xs:long"
				nillable="false" minOccurs="1" maxOccurs="1" />
			<xs:element name="fecRegistroActualizado" type="xs:dateTime" nillable="true"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="fecRegistroAlta" type="xs:dateTime" nillable="true"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="fecRegistroBaja" type="xs:dateTime"
				nillable="true" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
